.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;

}

h2 {
  text-align: center;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

button:focus {
  outline: none;
}
.form{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-color: #f0f0f0;
}
.servico-item {
    cursor: pointer;
    user-select: none;
}

.servico-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 30px rgba(255, 255, 255, 0.15);
}