
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}


.planos {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin: 40px auto;
    width: 80%;
    flex-wrap: wrap;
}

.plano {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;
}

.plano:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.plano h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
}

.plano p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 15px;
}

.plano p:first-child {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e63946;
}

button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005f73;
}

