
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #000000;
}

.sobre {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h2, h3 {
    color: #005f73;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.6rem;
    margin-top: 20px;
}

.corrida {
    text-align: center;
    margin-bottom: 30px;
}

.imagem-corrida {
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.form-container h1 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 1rem;
    color: #333;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    padding: 12px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005f73;
}

.musculacao {
    margin-top: 30px;
}

.musculacao ul {
    list-style-type: disc;
    padding-left: 20px;
}

.musculacao p {
    font-size: 1.1rem;
    margin-top: 10px;
}
.subirsobre{
    text-align: center;
}